#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Terminal=true
Exec=/home/osboxes/workspace/RFtraining/demoapp_dev/server.sh
Name=DemoAppDEV
